@use "constants";

// #header-logo {
//     width: calc(constants.$header-height * 0.9);
//     height: calc(constants.$header-height * 0.9);
   
//     background-image: url('../assets/images/logo.jpeg');
//     background-size: cover;
//     margin-right: calc(constants.$right-content-width * 0.01);
//   }

  // inside a sidebar div theres a img logo with the class name logo
#header-logo {
  display: block;
  margin: 0 auto;
  top: 0;

  height: constants.$header-height*0.9;

  padding: 10%;
}

  #header-logo:hover {
    cursor: pointer;
  }
  
  #header-search-bar {
    position:relative;
    top: 25%;
    left: 25%;
    width: constants.$search-bar-width;
    height: constants.$search-bar-height;
    border: 1px solid gray;
    border-radius: 20px;

    // padding: 10px;
    // margin: 0 auto;
    font-size: 1em;
  }